player-connection-mode=Listen
player-connection-guid=58980397
player-connection-debug=0
player-connection-project-name=PVJ2_Juego_Multijugador
player-connection-ip=192.168.0.106
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b9b4dc9e80e44c228c3b6c49a6b63356
