player-connection-mode=Listen
player-connection-guid=623803109
player-connection-debug=0
player-connection-project-name=PVJ2_Juego_Multijugador
player-connection-ip=192.168.0.100
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a4f8e32587274d03a07617be03c748b6
